*{
  box-sizing: border-box;
}

section {
  clear: both;
  overflow: auto;
  padding: 20px 0;
}

section p {
  width: 80%;
  text-align: justify;
  margin: 50px auto 20px;
  line-height: 1.5;
}

h4 {
  font-family: 'Muli','Montserrat' ,sans-serif;
  font-weight: bold;
  font-size: 13pt;
  z-index: 2000;
  position: relative;
}

.section-title {
  left: 10%;
  max-width: 50%;
}

.blue-bar {
  width: 240px;
  margin-top: 10px;
}

.add-length {
  width: 310px;
}

.center {
  max-width: 80%;
  display: block;
  margin: 2.5% auto;
}


/*HERO*/
#cs-logo{
  max-width: 60%;
}

.fb-hero {
  background-size: cover;
  margin: auto;
  max-width: 100%;
  display: inline-block;
  padding: 6.5% 5% 0 0;
  position: relative;
}

.fb-hero img {
  max-width: 100%;
}

.fb-hero p {
  margin: 11%;
  line-height: 1.75;
  text-align: center;
}

.fb-third {
  width: 40%;
  padding: 5%;
  display: inline;
  float: left;
  text-align: center;
}

.fb-two-thirds {
  width: 60%;
  float: right;
  display: inline;
  text-align: center;
}

/*OVERViEW*/
.overview .fb-third p {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.tools {
  padding: 0 10%;
  margin: auto;
  display: inline-block;
  width: 100%;
}

.tools .fb-two-thirds, .tools .fb-third {
  padding: 1% 10%;
}

.fb-two-thirds ul {
  padding-left: 0;
}

.fb-two-thirds li {
  padding: 5px;
}


/*RESEARCH + PERSONA*/
.research {
  background: #DEF0F3 url(../images/research-bg.png) repeat;
  background-size: contain;
  clear: both;
  overflow: auto;
  padding: 1% 0;
}

.persona {
  max-width: 50%;
  float: left;
  margin: 25px 0;
}

/*PROBLEMS*/
.problems {
  padding: 1% 0 3%;
}

/*WIREFRAMES / GALLERY*/

.wireframes.bw {
  background: #DEF0F3;
}

.vertical-img {
  width: 25%;
}

.flex-contain {
  width: 80%;
  margin: 25px auto 0;
}

.image-gallery {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  height: 860px;
}

.image-gallery img {
  width: 33%;
  margin: 8px; 
  align-self: flex-start;
}

/*Branding*/
.branding {
  width: 100%;
}

.branding img {
  width: 100%;
  padding: 20px 7%;
}

/*FINAL DESIGN WIREFRAMES*/
.final-design .image-gallery {
  justify-content: flex-start;
  height: 2100px;
}

.final-design .image-gallery img {
  width: 50%;
  margin: 8px; 
}

.long {
}

.gallery-bttns {
  text-align: center;
  margin: 30px;
}

/*\VIDEO*/
.demo-vid {
  text-align: center;
}

/*Final Thoughts*/

.final-thoughts{
  background: #DEF0F3;
  padding: 20px 0 40px;
}










