.contact {
 margin: 5% auto;
 width: 80%;
 min-height: 65vh;
 display: flex;
}

.header {
  text-align: center;
  background: url(../images/marble.jpg) no-repeat top center;
  background-size: cover;
  position: relative;
}

.header-container {
  padding: 65px 0;
  padding-top: 100px;
  width: 100%;
  margin: auto;
  margin-bottom: 80px;
}

.header p {
  margin-top: 25px;
}

.header img {
  max-width: 65%;
}

.social {
  padding: 0 20px;
  margin: 0 5% 50px;
}

.social i {
  font-size: xx-large;
  margin: 10px 5px;
  vertical-align: middle; 
  display: inline-block;
}

.social li {
  display: block;
}

.social ul {
  padding-left: 0;
}

.input {
  float: right;
  padding: 0 20px;
  width: 35%;
  display: table-cell;
  margin: 0 5% 50px;
}

input:focus, textarea:focus{
    outline:none;
}

input, textarea {
    font-size: 0.8em;
    font-family: 'proxima-nova-soft', sans-serif;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.9em;
    transition: all 0.3s ease-in-out;
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 4px;
}

textarea {
  height: 100px;
}

#formview textarea {
    height: 10.3em;
}

button, a.button {
    line-height: 1em;
    transition: all 0.3s ease-in-out;
    border: transparent;
}

button:hover, a.button:hover {
    color: #CB8671;
    cursor: pointer;
    background: #F6E1DA;
}

button:focus{
  outline:none;
}

@media (min-width: 601px){
  .social {
    float: left;
  }
}

/*FOR MOBILE*/
@media (max-width: 600px){
  .contact {
    display: block;
    text-align: center;
  }

  .input {
    width: 80%;
  }
}


