.dc-bttn {
  border: solid #424A4F 2px;
  border-radius: 8px;
  padding: 9px 14px;
  color: #424A4F;
  margin: 0 20px;
}

.dc-bttn:hover {
  color: #5380AE; 
}

.blue-bar {
  background: #424A4F;
  width: 240px;
  margin-top: 10px;
  opacity: 1;
}

.add-length {
  width: 350px;
}

.section-title {
  color: white;
}

@media (max-width: 601px){
  .section-title {
    color: #424A4F;
  }
}

h4.centered-title  {
  text-align: center;
  margin-top: 50px;
}

/*HERO*/
.fb-hero {
  background: url(../images/deco-hero.png) no-repeat bottom left;
  background-size: cover;
}

/*RESEARCH*/
.research {
  background:  url(../images/deco-research-bg.png) repeat;
}

/*PROCESS*/
.wf-container{
  max-width: 90%;
  margin: 0 10%;
  text-align: center;
  display: block;
  vertical-align: top;
}

.process-wf {
  width: 30%;
  }

.process-wf, .process-wf img  {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
}

.process-wf img {
  max-width: 100%;
}

.process-wf p {
  margin: auto;
  width: 90%;
}

/*BRANDING*/
.branding {
/*  background: url(../images/dc-bg-01.png) repeat;
*/}

/*FINAL DESIGN*/
.final-design {
  background: #D1DAE3;
}

/*Testing*/
.testing img {
  max-width: 100%;
  display: block;
  margin: auto;
}


/*Conclusion*/
.final-thoughts{
  background: #D1DAE3;
}

/*LARGE SCREENS*/
@media (min-width: 1514px){
  .blue-bar, .add-length{
    width: 31%;
  }
  .section-title{
    left: 20%;
  }
}
