* {
  box-sizing: border-box;
}

section {
  clear: both;
  overflow: auto;
  padding: 20px 0;
}

section p {
  line-height: 1.5;
  margin: 50px auto 20px;
  max-width: 80%;
  text-align: justify;
}

h4 {
  font-family: 'Muli','Montserrat' ,sans-serif;
  font-size: 13pt;
  font-weight: bold;
  position: relative;
  z-index: 2000;
}

.section-title {
  left: 10%;
  max-width: 50%;
}

.fb-bttn {
  border: solid #F15D25 2px;
  border-radius: 8px;
  color: #F6A575;
  margin: 0 20px;
  padding: 9px 14px;
}

.fb-bttn:hover {
  color: #F15D25;
}

.blue-bar {
  background: #76A6B1;
  margin-top: 10px;
  width: 240px;
}

.add-length {
  width: 310px;
}

.center {
  display: block;
  margin: 2.5% auto;
  max-width: 80%;
}


/*HERO*/
#cs-logo {
  max-width: 60%;
}

.fb-hero {
  background: url(../images/fb-hero.png) no-repeat top center;
  background-size: cover;
  display: inline-block;
  margin: auto;
  max-width: 100%;
  padding: 6.5% 5% 0 0;
  position: relative;
}

.fb-hero img {
  max-width: 100%;
}

.fb-hero p {
  line-height: 1.75;
  margin: 11%;
  text-align: center;
}

.fb-third {
  display: inline;
  float: left;
  max-width: 40%;
  padding: 5%;
  text-align: center;
}

.fb-two-thirds {
  display: inline;
  float: right;
  max-width: 60%;
  text-align: center;
}

/*OVERViEW*/

.overview .fb-third p {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.tools {
  display: inline-block;
  margin: auto;
  padding: 0 10%;
  width: 100%;
}

.tools .fb-two-thirds,
.tools .fb-third {
  padding: 1% 10%;
}

.fb-two-thirds ul {
  padding-left: 0;
}

.fb-two-thirds li {
  padding: 5px;
}


/*RESEARCH + PERSONA*/
.research {
  background: #DEF0F3 url(../images/research-bg.png) repeat;
  background-size: contain;
  clear: both;
  overflow: auto;
  padding: 1% 0;
}

.persona {
  float: left;
  margin: 25px 0;
  max-width: 50%;
}

/*PROBLEMS*/
.problems {
  padding: 1% 0 3%;
}

/*WIREFRAMES / GALLERY*/

.wireframes.bw {
  background: #DEF0F3;
}

.vertical-img {
  width: 25%;
}

.flex-contain {
  margin: 25px auto 0;
  width: 80%;
}

.image-gallery {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 860px;
  justify-content: flex-start;
}

.image-gallery img {
  align-self: flex-start;
  margin: 8px;
  width: 33%;
}

/*Branding*/
.branding {
  width: 100%;
}

.branding img {
  padding: 20px 7%;
  width: 100%;
}

/*FINAL DESIGN WIREFRAMES*/
.final-design .image-gallery {
  height: 2100px;
  justify-content: flex-start;
}

.final-design .image-gallery img {
  margin: 8px;
  width: 50%;
}



.gallery-bttns {
  margin: 30px;
  text-align: center;
}

/*\VIDEO*/
.demo-vid {
  position: relative;
  text-align: center;
}

.video-background {
  height: auto;
  max-width: 100%;
}

.demo-vid video {
  left: 15.3%;
  max-width: 1001px;
  position: absolute;
  top: 19.7%;
  width: 70.7%;
}

@media screen and (min-width: 500px) {
  .demo-vid video {
    top: 17.4%;
  }
}

/*Final Thoughts*/

.final-thoughts {
  background: #DEF0F3;
  padding: 20px 0 40px;
}
