* {
  box-sizing: border-box;
}

section {
  clear: both;
  overflow: auto;
  padding: 20px 0;
}

h4 {
  font-family: 'Muli','Montserrat' ,sans-serif;
  font-size: 13pt;
  font-weight: bold;
  position: relative;
  z-index: 2000;
}


.fb-bttn {
  border: solid #F15D25 2px;
  border-radius: 8px;
  color: #F6A575;
  margin: 0 20px;
  padding: 9px 14px;
}

.fb-bttn:hover {
  color: #F15D25;
}

@media (max-width: 600px){
  .gallery-bttns .fb-bttn{
    display: block;
    margin: 20px 65px;
  }
}

.blue-bar {
  background: #76A6B1;
  margin-top: 10px;
}

.add-length {
  width: 350px;
}

@media (min-width: 1514px){
.blue-bar, .add-length {
    width: 31%;
}
}

.center {
  display: block;
  margin: 2.5% auto;
  max-width: 80%;
}


/*HERO*/
#cs-logo {
  max-width: 60%;
}

.fb-hero {
  background: url(../images/fb-hero.png) no-repeat top center;
  background-size: cover;
  display: inline-block;
  margin: auto;
  width: 100%;
  padding: 6.5% 5% 0 0;
  position: relative;
}

.fb-hero img {
  max-width: 100%;
}

.fb-hero p {
  line-height: 1.75;
  margin: 11%;
  text-align: center;
}

.fb-two-thirds {
  display: inline;
  float: right;
  width: 60%;
  text-align: center;
}

/*OVERViEW*/

.overview .fb-third p {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.tools .fb-two-thirds,
.tools .fb-third {
  padding: 1% 10%;
}

.fb-two-thirds ul {
  padding-left: 0;
}

.fb-two-thirds li {
  padding: 5px;
}


/*RESEARCH + PERSONA*/
.research {
  background: #DEF0F3 url(../images/research-bg.png) repeat;
  background-size: contain;
  clear: both;
  overflow: auto;
  padding: 1% 0;
}

.persona {
  float: left;
  margin: 25px 0;
  width: 50%;
}

/*PROBLEMS*/
.problems {
  padding: 1% 0 3%;
}

/*WIREFRAMES / GALLERY*/

.wireframes.bw {
  background: #DEF0F3;
}

.bw .image-gallery{
  column-count: 3;
  height: 100%;
}

.bw .image-gallery img{
  width: 100%;
}

*/
/*Branding*/
.branding {
  width: 100%;
}

.branding img {
  padding: 20px 7%;
  width: 100%;
}

/*FINAL DESIGN WIREFRAMES*/


.gallery-bttns {
  margin: 30px;
  text-align: center;
}

/*\VIDEO*/
.demo-vid {
  position: relative;
  text-align: center;
}

.video-background {
  height: auto;
  max-width: 100%;
}

.demo-vid video {
  left: 15.3%;
  max-width: 1001px;
  position: absolute;
  top: 19.7%;
  width: 70.7%;
}

@media screen and (min-width: 500px) {
  .demo-vid video {
    top: 17.4%;
  }
}

@media screen and (min-width: 1440px) {
  .demo-vid video {
    top:17.2%;
    left: 15.58%;
    max-width: 1015px;
  }
}

@media screen and (min-width: 2400px) {
  .demo-vid video {
    left: 30.5%;
    }
  }

/*Final Thoughts*/

.final-thoughts {
  background: #DEF0F3;
  padding: 20px 0 40px;
}
