/*FOR MOBILES smaller than iphone 6 plus*/
@media (max-width: 415px){
  body{
    display: block;
  }

  #hero-box {
    display: none;
  }

  .hero-left {
    width: 100%;
  }

  .hero-left p {
    width: 80%;
  }

  .hero-right img {
  display: none;
 }

  .hero {
    background: /*#F0B1A0*/ url(../images/marble.jpg) no-repeat top center;
    top: 50px;
    position: relative;
  }

  .hero-frame {
    border: none; 
  }

  #projects {
    text-align: center;
  }

  h3 {
    margin-top: 0;
  }
 
 .project {
   border: none;
   margin: auto;
   width: 100%;
   text-align: center;
   padding: 20px 0 50px;
 }

  .right {
    background: #FAF2F0;
    padding-bottom: 85px;
 }

 .left {
  /*background: #ECEEF0;*/
 }

 .project img {
  position: relative;
  width: 95%;
 }

 .section-text {
   margin-top: 0px; 
   margin-bottom: 40px;
  }

 .box-third {
  width: 100%;
  margin: auto;
}

 .pink-bar, .blue-bar {
  display: none;
 }

.hamburger {
   position:fixed;
   z-index: 3000;
   background:#96A7AB;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   font-weight: lighter;
   padding: 10px 15px;
   width: 100%;
   display: flex;
 }

 .burger {
  display: flex;
  align-items: center;
 }

 img.burger, p.burger {
  margin: 0 0 0 20px;
  color: #46525A;
 }

 .navbar {
  display: none;
 }

 .filler {
  background: #FAF2F0;
  height: 40px; 
 }

 .foot {
  margin: 0;
  padding: 10px 7px;
  text-align: center;
 }

 .footer {
  margin: 0;
 }

 .footer li a, .footer li {
    margin: 3px 3px;
    display: inline-block;
}

/* testing nav bar open*/
 /*test nav strat*/

 .navigation {
    width: 100%;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    background-color: #46525A;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:auto;
    margin-right:auto;
    padding-left: 0;
}

.navigation li {
  display: block;
  text-align: center;
}

.navigation p {
  color: white;
}

.menulist {
    width:200px;
}


.logo {
    text-align:center;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color: #46525A;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:white;
}

.line3.active {
  transform: rotate(-45deg);
  background-color: white;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none; 
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    position:relative;  
    text-align:center;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px; 
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:4000;
/*    color: black;
*/    cursor:pointer;
    trainsition:background-position .3s;
}

#main { 
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    /*padding: 16px;*/
    font-size:30px;
}
/*test nav end*/



}

/*IPAD PRO AND SMALLER*/
@media (min-width: 416px) and (max-width: 1023px){

  .hero-frame {
    width: 90%;
  }

  #hero-box {
    width: 45%;
    height: 75%;
    right: 8%;
  }

  .project {
    width: 85%;
    margin: auto;
    border: none;
  }

  .project.right img, .project.left img {
    max-height: 350px;
  }

  .left img {
    left: 25%;
  }

  .pink-bar {
    display: none;
  }

}


/*larger than iphone 6 plus*/
@media (min-width: 416px){
  .hamburger{
  display: none;
}

.box-third {
  width: 30%;
  margin: 15px 30px;
}

 .right .box-third {
  float:right;
  text-align: right;
}

.navigation {
  display: none;
}

}

/*COMPUTER SCREENS */

@media (min-width: 1024px){

  .right {
  float: right;
}

.left {
  float: left;
  padding-top: 10px;
}

.project.right img {
  right: 35%;
  max-height: 550px;
}

.project.left img {
  left: 25%;
   max-height: 450px;
}

}


