body {
  background-color: #fcfffe;
  font-family: 'Montserrat', 'Muli', sans-serif;
  color: #46525A;
  margin: 0;
  min-height: 100%;
  font-weight: lighter;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar img {
  max-height: 30px;
  vertical-align: middle;
}

.box-text {
  font-size: 14pt;
}

h3 {
  font-family: 'Muli', 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15pt;
  position: relative;
  z-index: 2000;
}

/*NAVIGATION*/
.navbar {
  width: 80%;
  display: table;
  border-collapse: collapse;
  margin: 20px auto 7px;
  position: relative;
  z-index: 3000;
  font-weight: lighter;
  font-size: 11pt;
}

 ul: first-child{
  margin-right: 5px;
}

li{
  display: table-cell;
  text-decoration: none;
  text-align: left;
  box-sizing: border-box;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #46525A;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 4000;
  transition-duration: 1s;
}

/*HERO*/
.hero {
  background: url(../images/marble.jpg) no-repeat top center;
  background-size: cover;
  top: 58px;
  position: relative;
  margin-bottom: 60px;
}

.hero-frame{
  border: #B6897B solid 5px;
  width: 80%;
  padding-top: 15px;
  /*height: 100%;*/
  margin: auto;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  z-index: 2000;
}

.hero-left{
  float: left;
  width: 40%;
  text-align: center;
  font-weight: lighter;
}

.hero-left img {
  width: 90%;
  padding-top: 15%;
}

.hero-left p {
  width: 70%;
  margin: auto;
  padding-top: 20%;
  padding-bottom: 20%;
}

.hero-right {
  float: right;
  width: 60%;
  text-align: center;
}

.hero-right img {
  width: 80%;
  display: block;
  margin: auto;
}

#hero-box {
  background-color: rgba(240, 177, 160, 0.5)/*#F0B1A0*/;
  width: 45%;
  height: 715px;
  position: absolute;
  top: -115px;
  right: 13%;
  z-index: 1000;

}

/*PROJECTS*/

.projects {
  text-align: center;
}

.project {
  border: rgba(97, 107, 114, 0.16) solid 5px;
  width: 60%;
  height: 400px;
  margin: 80px 200px;
  position: inherit;
  z-index: 2000;
}

.button {
  background: #CB8671;
  border-radius: 6px;
  color: white;
  padding: 15px 25px;
  font-weight: 400;
  font-size: 13pt;
  text-align: center;
  position: relative;
  z-index: 2000;
}

.button:hover{
    color: #CB8671;
    cursor: pointer;
    background: #F6E1DA;
}

.project img {
  position: absolute;
  z-index: 2000;
}

#foxbox {
  max-width: 700px;
}

.section-text {
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 25px;
  font-size: 12pt;
  font-weight: lighter;
  position: relative;
  z-index: 2000;
}

/* Styling*/

.blue-bar {
  opacity: 0.5;
  background: #DCDFE4;
  height: 50px;
  width: 450px;
  position: absolute;
  margin: 7px 0;
  /*z-index: 1000;*/
}

.right .blue-bar {
  right: 0;
  width: 360px;
}

.left .blue-bar {
  left: 0;
  margin-top: -10px;
}

.pink-bar {
  opacity: 0.5;
  background: #F6D6CE;
  height: 300px;
  width: 400px;
  position: absolute;
  /*z-index: 1000;*/
}



/*Footer*/

.foot {
  background-color: #46525A;
  clear: both;
  position: relative;
  /*margin-top: -3em;*/
  padding: 5px 75px;
  color: white;
  z-index: 2000;
}

.footer {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.footer li a, .footer li{
  color: white;
  font-weight: lighter;
}

/*OTHER*/

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.more{
  text-align: center;
  height: 40px;
  text-decoration: underline;
  display: inline-block;
  width: 100%;
  padding-top: 35px;
}
